= semantic_form_for [@artist, @piece], :html => { :multipart => true } do |f|
  = f.inputs do
    = f.input :title, :as => :string, :label => 'Title'
    = f.input :year, :as => :number, :label => 'Year'
    = f.input :medium, :as => :string, :label => 'Medium'
    = f.input :dimensions, :as => :string, :label => 'Dimensions'
    = f.input :piece, :as => :file, :label => 'Image'
  = f.actions do
    = f.submit 'Add Piece'
